@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: ubuntu, 'sans-serif';
    font-size: 2rem;
    font-weight: 500;
    color:rgb(11, 72, 87);
}

/*backgrounds*/
.white {
    background: #f9fffe;
}
.blue{
   background: linear-gradient(to bottom, rgb(37, 44, 54), rgb(55, 64, 77) ) ;

}
.grey {
    background: linear-gradient(to bottom, rgb(238, 243, 250), rgb(204, 219, 238)) ;
}
/*nav*/
.main-nav {
    height: 10vh;
    color:#FFF;
}
.static {
    position: static;
    top: 0;
    width: 100%;
    z-index: 2;
}
.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav li {
    padding: 10px;
    margin: auto;
}
.main-nav li::first-letter, .project-info a::first-letter {
    text-transform: capitalize;
}
.push {
    margin-left: auto;
}
.main-nav a {
    color: #f5f5f6;
    text-decoration: none;
}
.main-nav a:hover {
    font-weight: 600;
}

/* section cover */
.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: -2;
}
.cover-photo {
    margin: 15vh auto 2vh;
    width: 30vw;
    border-radius: 100%;
    position: relative;
    z-index: 0;
}
.cover-text {
    width: 80vw;
}
h1 {
    text-align: center;
}

.photo-sprinkle2 {
    position: absolute;
    background: rgba(164, 111, 180,.3);
    margin: 5vh 90vw;
    height: 300vh;
    width: 30vw;
    border-radius: 100%;
    transform: rotate(26deg);
    z-index:0;
    display: none;
    
}
.photo-sprinkle3 {
    position: absolute;
    background: rgba(205, 197, 90, .3);
    margin: 5vh -30vw;
    height: 80vh;
    width: 150vw;
    border-radius: 100%;
    transform: rotate(-15deg);
    z-index: -1;
}
/*section projects*/

#projects {
    height: 2vh;
}

h2{
    text-align: center;
}

.grid-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background: none;
}
.box {
    width: 90vw;
    height: 16em;
    margin: 2%;
    transition: all 0.3s linear;
    border-radius:1%;
    display: flex;
    align-items: center;
    position: relative;
}
.box:hover {
    transform: scale(1.01);
}
/*project photos and iframes*/
.box > iframe{
    position: absolute;
    margin: 0 auto 0 -28.1vw;
    border: none;
    z-index: 0;
    transform: scale(.3,.3);
    height: 66.66vh;
    width: 80vw;
    border-radius: 1% 0 0 1%;
}

.box img {
    position: absolute;
    width: 25%;
    margin-left: 1vw;
}
/*info about projects*/
.project-info {
    width: 54vw;
    height: 80%;
    margin: auto auto auto 26vw;
    display: block;
}
.project-info em {
    font-weight: 100;
    background-color: rgb(11, 72, 87);
    color: #f9fffe;
    padding:.1rem .4rem .2rem .4rem;
    border-radius: 25px;
    margin: .1rem;
}

/*remove bullet points*/
.project-info > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h3 {
    text-transform: capitalize;
    margin: 0;
}
.project-info p {
    line-height: 2.5vh;
}
.project-info a {
    font-weight: 600;
    color: rgb(11, 72, 87);
    text-decoration: none;
    transition: ease-in .2s;
}
.project-info a:hover {
    text-decoration: underline;
}

/*section cv*/

/* media queries */


@media only screen and (min-width: 320px) {
    body {
        font-size: 100%;
    }
    .photo-sprinkle2{
        display: none;
    }
    .box iframe {
        height: 334%;
        width: 160%;
        transform: scale(.3);
        margin: auto auto auto -50.5vw;
    }
    .box:first-of-type iframe, .box:nth-of-type(2) iframe {
        transform: scale(0.4);
        height: 250%;
        width: 120%;
        margin-left: -32.5vw;
    }
    .box img {
        width: 35%;
        margin-left: 7vw;
    }
    .project-info {
        margin-left: 46vw;
        height: 90%;
    }
    .project-info p {
        font-size: 85%;
        width: 20ch;
    }
}
/*surface duo*/
@media only screen and (min-width: 480px) {
    body {
        font-size: 100%;
    }
    .photo-sprinkle2{
        display: none;
    }
    .project-info p {
        font-size: 90%;
    }
    
    .box iframe {
        height: 334%;
        width: 160%;
        transform: scale(.3);
        margin: auto auto auto -50.4vw;
    }
    .project-info {
        margin-left: 46vw;
    }
    .project-info p {
        width: 27ch;
    }
}
/*pads*/
@media only screen and (min-width: 640px) {
    body {
        font-size: 100%;
    }
    .photo-sprinkle2{
        display: none;
    }
    .cover-photo {
        width: 20%;
    }
    .cover-text {
        width: 45ch;
    }
    .project-info p {
        font-size: 90%;
        width: 30ch;
    }
    .box iframe {
        height: 334%;
        width: 160%;
        transform: scale(.3);
        margin: auto auto auto -50.4vw;
    }
    .project-info {
        margin-left: 46vw;
    }
    .box img {
        width: 15%;
        margin-left: 5vw;
    }
}
/*ipad*/
@media only screen and (min-width: 768px) {   
    body {
        font-size: 110%;
    }
    .cover-photo {
        width: 15%;
        margin-bottom: 3vh;
    }
    .cover-text {
        width: 40ch;
    }
    
    .box img {
        margin-left: 10vw;
        width: 25%;
    }
    
    .project-info p {
        width: 33ch;
        font-size: 100%;
        line-height: 1.4rem;
    }
}
/*ipad pro*/
@media only screen and (min-width: 1024px) {   
    body {
        font-size: 130%;
    }
    .photo-sprinkle2{
        display: block;
    }
    .photo-sprinkle3{
        height: 100%;

    }
    .container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .cover-photo {
        width: 18%;
        margin: auto 0 auto 10vw;
    }
    .cover-text {
        width: 45ch;
        margin-left: 5vw;
    }
    h1 {
        text-align: left;
    }
    .grid-wrapper {
        width: 98%;
        margin: 0 auto;
    }
    .box {
        /* height: 16em; */
        width: 44vw;
        margin: 2%;
    }
    .box iframe {
        height: 335%;
        width: 140%;
        transform: scale(.3);
        margin: auto -21.6vw;
    }
    .box:first-of-type iframe, .box:nth-of-type(2) iframe {
        height: 335%;
        width: 140%;
        transform: scale(.3);
        margin: auto -22.3vw;
    }
    .box img {
        margin-left: 3vw;
        width: 30%;
    }
    .project-info {
        width: 40%;
        height: 80%;
        margin: auto auto auto 20vw;
        display: block;
        font-size: 95%;
    }
    .project-info p {
        font-size: 95%;
        line-height: 1.6rem;
        width: 22ch;
    }
}
/*old pc*/
@media only screen and (min-width: 1376px) {
    body {
        font-size: 130%;
    }
    .photo-sprinkle2{
        display: block;
    }
    .photo-sprinkle3{
        height: 100%;

    }
    .container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .cover-photo {
        width: 15%;
        margin: auto 0 auto 12vw;
    }
    .cover-text {
        width: 50ch;
        margin-left: 7vw;
    }
    h1 {text-align: left;}
    
    .grid-wrapper {
        width: 95%;
        margin: 0 auto;
    }
    .box {
        width: 40vw;
        margin: 2%;
    }
    .box iframe, 
    .box:first-of-type iframe, 
    .box:nth-of-type(2) iframe {
        height: 335%;
        width: 125%;
        transform: scale(.3);
        margin: auto -17.5vw;
    }
    .box img {
        margin-left: 1vw;
        width: 30%;
    }
    .project-info {
        width: 50%;
        height: 80%;
        margin: auto auto auto 17vw;
        display: block;
        font-size: 95%;
    }
    .project-info p {
        line-height: 1.5rem;
        width: 23ch;
    }
}
/*newer pads -some pcs*/
@media only screen and (min-width: 1540px) {
    body {
        font-size: 130%;
    }
    .photo-sprinkle2 {
        display: block;
    }
    .photo-sprinkle3 {
        height: 100%;
    }
    .cover-photo {
        width: 14%;
        margin: auto 0 auto 15vw;
    }
    .cover-text {
        margin-left: 4vw;
        width: 55ch;
    }
    .grid-wrapper {
        width: 95%;
        margin: 0 auto;
    }
    .box {
        width: 40%;
    }
    .box iframe, 
    .box:first-of-type iframe, 
    .box:nth-of-type(2) iframe {
        height: 201%;
        width: 95%;
        transform: scale(.5);
        margin: auto -9vw;
    }
    .box img {
        width: 28%;
        margin-left: 4vw;
    }
    .project-info {
        width: 45%;
        height: 85%;
        margin: auto auto auto 19vw;
        display: block;
    }
    .project-info p{
        line-height: 1.5rem;
        width: 25ch;
    }
}
/* pc */
@media only screen and (min-width: 1920px) {
    body {
        font-size: 145%;
    }
    .photo-sprinkle2{
        display: block;
    }
    .photo-sprinkle3{
        height: 100%;
    }
    .cover-text {
        width: 55ch;
        margin-left: 3vw;
    }
    .cover-photo {
        width: 13%;
        margin-left: 18vw;
    }
    .grid-wrapper {
        width: 98%;
    }
    .box {
        width: 32vw;
        margin: 2%;
    }
    .box iframe, 
    .box:first-of-type iframe, 
    .box:nth-of-type(2) iframe {
        height: 167.5%;
        width: 72%;
        transform: scale(.6);
        margin: auto -4.6vw;
    }
    .box img {
        margin-left: 1.5vw;
        width: 30%;
    }
    .project-info {
        width: 50%;
        height: 90%;
        margin: 5% auto auto 15vw;
        display: block;
        font-size: 95%;
    }
    .project-info p {
        line-height: 1.7rem;
    }
    
}