@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

/*use this to remove scrolling in browser and use 100% */
body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: ubuntu, 'sans-serif';
    font-size: 2vh;
    font-weight: 500;
    color:rgb(11, 72, 87);
}

/*backgrounds*/
.white {
    background: #f9fffe;
}
.blue{
   background: linear-gradient(to bottom, rgb(37, 44, 54), rgb(55, 64, 77) ) ;

}
.yellow {
    background: linear-gradient(to bottom, rgb(238, 243, 250), rgb(204, 219, 238)) ;
}
/*nav*/
.main-nav {
    height: 10vh;
    color:#FFF;
}
.static {
    position: static;
    top: 0;
    width: 100%;
    z-index: 2;
}
.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav li {
    padding: 10px;
    margin: auto;
}
.main-nav li::first-letter, .project-info a::first-letter {
    text-transform: capitalize;
}
.push {
    margin-left: auto;
}
.main-nav a {
    color: #f5f5f6;
    text-decoration: none;
}
.main-nav a:hover {
    font-weight: 600;
}

/* section cover */
.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: -2;
}
.cover-photo {
    margin: 15vh auto 2vh;
    width: 30vw;
    border-radius: 100%;
    position: relative;
    z-index: 0;
}
.cover-text {
    width: 80vw;
}
h1 {
    text-align: center;
}

.photo-sprinkle2 {
    position: absolute;
    background: rgba(164, 111, 180,.3);
    margin: 5vh 90vw;
    height: 300vh;
    width: 30vw;
    border-radius: 100%;
    transform: rotate(26deg);
    z-index:0;
    display: none;
    
}
.photo-sprinkle3 {
    position: absolute;
    background: rgba(205, 197, 90, .3);
    margin: 5vh -30vw;
    height: 80vh;
    width: 150vw;
    border-radius: 100%;
    transform: rotate(-15deg);
    z-index: -1;
}
/*section projects*/

#projects {
    height: 2vh;
}

h2{
    text-align: center;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: none;
}
.box {
    width: 90vw;
    height: 20vh;
    margin: 2%;
    transition: all 0.3s linear;
    border-radius:2px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 2%;
}
.box:hover {
    transform: scale(1.01);
}
/*project photos and iframes*/
.box > iframe{
    position: absolute;
    margin: 0 auto 0 -28.1vw;
    border: none;
    z-index: 0;
    transform: scale(.3,.3);
    height: 66.66vh;
    width: 80vw;
    border-radius: 2% 0 0 2%;
}
.project3 {
    scroll-behavior: smooth;   
}
.box img {
    position: absolute;
    width: 25%;
    margin-left: 1vw;
}
/*info about projects*/
.project-info {
    width: 64vw;
    margin: auto auto auto 26vw;
    display: block;
}
.project-info em {
    font-weight: 100;
    background-color: rgb(11, 72, 87);
    color: #f9fffe;
    padding:.1rem .4rem .2rem .4rem;
    border-radius: 25px;
    margin: .1rem;
}

/*remove bullet points*/
.project-info > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h3 {
    text-transform: capitalize;
    margin: 0;
}
.project-info p {
    line-height: 2.5vh;
}
.project-info a {
    font-weight: 600;
    color: rgb(11, 72, 87);
    text-decoration: none;
    transition: ease-in .2s;
}
.project-info a:hover {
    text-decoration: underline;
}

/*section cv*/

/* media queries */


@media only screen and (min-width: 320px) {
    .photo-sprinkle2{
        display: none;
    }
}
/*surface duo*/
@media only screen and (min-width: 480px) {
    .photo-sprinkle2{
        display: none;
    }
}
/*pads*/
@media only screen and (min-width: 640px) {
   
    .cover-photo {
        width: 20%;
    }
    .cover-text {
        width: 75%;
    } 
    .project-info {
        width: 75vw;
        margin: auto 7vw auto 27vw;
    }
    .box img {
        width: 15%;
        margin-left: 5vw;
    }
}
/*ipad*/
@media only screen and (min-width: 768px) {   
    body {
        font-size: 115%;
    }
    .cover-photo {
        width: 20%;
        margin-bottom: 4vh;
    }
    .cover-text {
        width: 60%;
    }
    .box img {
        margin-left: 7vw;
        width: 10%;
    }
    .box iframe {
        height: 66.8vh;
    }
}
/*ipad pro*/
@media only screen and (min-width: 1024px) {   
    body {
        font-size: 120%;
    }
    .cover-photo {
        width: 18%;
        margin-top: 10vh;
    }
    .cover-text {
        width: 50%;
    }
    .box img {
        margin-left: 5vw;
        width: 15%;
    }
    .box iframe {
        height: 66.8vh;
    }
}
/*old pc*/
@media only screen and (min-width: 1376px) {
    body {
        font-size: 120%;
    }
    .photo-sprinkle2{
        display: block;
    }
    .photo-sprinkle3{
        height: 100%;

    }
    .container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .cover-photo {
        width: 15%;
        margin: auto 0 auto 12vw;
    }
    .cover-text {
        width: 50%;
        margin-left: 7vw;
    }
    h1 {text-align: left;}
    
    .grid-wrapper {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        height: 35vh;
        width: 35vw;
        margin: 2%;
        flex-wrap: nowrap;
    }
    .box > iframe {
        height: 335%;
        width: 125%;
        transform: scale(.3);
        margin: auto -15.3vw;
    }
    .box img {
        margin-left: 1vw;
        width: 30%;
    }
    .project-info {
        width: 47%;
        height: 80%;
        margin: auto auto auto 15vw;
        display: block;
        font-size: 80%;
    }
    .project-info p {
        line-height: 1.2rem;
    }
}
/*newer pads -some pcs*/
@media only screen and (min-width: 1540px) {
    body {
        font-size: 130%;
    }
    .photo-sprinkle2 {
        display: block;
    }
    .photo-sprinkle3 {
        height: 100%;
    }
    .cover-photo {
        width: 15%;
        margin: auto 0 auto 12vw;
    }
    .cover-text {
        margin-left: 4vw;
        width: 700px;
    }
    .grid-wrapper {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        height: 30vh;
        width: 40%;
    }
    .box > iframe {
        height: 200%;
        width: 95%;
        transform: scale(.5);
        margin: auto -9vw;
    }
    .box img {
        width: 25%;
        margin-left: 3.5vw;
    }
    .project-info {
        width: 45%;
        height: 90%;
        margin: auto auto auto 19.5vw;
        display: block;
    }
    .project-info p{
        line-height: 3.2vh;
    }
}
/* pc */
@media only screen and (min-width: 1920px) {
    body {
        font-size: 140%;
    }
    .photo-sprinkle2{
        display: block;
    }
    .photo-sprinkle3{
        height: 100%;
    }
    .cover-text {
        width: 768px;
        margin-left: 3vw;
    }
    .cover-photo {
        width: 10%;
        margin-left: 17.3vw;
    }
    .grid-wrapper {
        width: 80%;
    }
    .box {
        height: 35vh;
        width: 30vw;
        margin: 2%;
        flex-wrap: nowrap;
    }
    .box > iframe {
        height: 167.5%;
        width: 70%;
        transform: scale(.6);
        margin: auto -4.3vw;
    }
    .box img {
        margin-left: 1.5vw;
        width: 30%;
    }
    .project-info {
        width: 50%;
        height: 90%;
        margin: 5% auto auto 14vw;
        display: block;
    }
    .project-info p {
        line-height: 1.3rem;
    }
    
}