@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

* {box-sizing: border-box;}

:root {
  --bg-primary-color: rgb(48, 58, 70);
  --bg-secondary-color: #f5f5f6;
  --text-color-dark: rgb(11, 72, 87);
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: ubuntu, "sans-serif";
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-dark);
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* general */

button {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
}

/*backgrounds*/
.white {
  background: #f9fffe;
}
.blue {
  background-color: rgb(48, 58, 70);
}
.grey {
  background: linear-gradient(
    to bottom,
    rgb(238, 243, 250),
    rgb(204, 219, 238)
  );
}
/*nav*/
.main-nav {
  height: 10vh;
  color: #fff;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
.static, .sticky {
  top: 0;
  width: 100%;
  z-index: 2;
}
.main-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  padding: 5px;
  margin: auto;
}
.main-nav li::first-letter,
.project-info a::first-letter {
  text-transform: capitalize;
}

.main-nav a {
  color: #f5f5f6;
  outline: none;
}
.main-nav a:hover {
  /* font-weight: 600; */
  text-decoration: underline;
}

/* section cover */
.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.cover-photo {
  margin: 15vh auto 2vh;
  width: 20vw;
  border-radius: 100%;
  position: relative;
  z-index: 0;
}
.cover-text {
  width: 85vw;
}
h1 {
  text-align: center;
}
.cta-btn {
  position: inherit;
  z-index: 5;
  font-weight: 600;
  width: fit-content;
  margin: 3em auto;
  padding: 0.2em 0.4em 0.2em 0.6em;
  background-color: rgb(48, 58, 70);
  border: 2px solid transparent;
  border-radius: 5px;
  color: #f5f5f6;
  text-decoration: none;
  transition: ease-in 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: center;

}
.cta-btn:hover {
  background: none;
  background-color: #f5f5f6;
  color: rgb(37, 44, 54);
  border: 2px solid rgb(37, 44, 54);
  border-radius: 5px;
}


.photo-sprinkle2 {
  position: absolute;
  background: rgba(164, 111, 180, 0.3);
  margin: 5vh 90vw;
  height: 300vh;
  width: 30vw;
  border-radius: 100%;
  transform: rotate(26deg);
  z-index: 0;
  display: none;
}
.photo-sprinkle3 {
  position: absolute;
  background: rgba(205, 197, 90, 0.3);
  margin: 5vh -30vw;
  height: 80vh;
  width: 150vw;
  border-radius: 100%;
  transform: rotate(-15deg);
  z-index: -1;
}
/*section projects*/

#projects {
  height: 2vh;
}

h2 {
  text-align: center;
}

.grid-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background: none;
}
.box {
  width: 98vw;
  min-height: 16em;
  margin: 2%;
  transition: all 0.2s ease-in;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
  /* background-color: red; */
  overflow: hidden;
}
.box:hover {
  /* background: #ffffff00; */
  box-shadow: 5px 5px 20px -10px black;
}
/*project photos and iframes*/
.box > iframe {
  position: relative;
  height: 339.5%;
  transform: scale(0.4);
  margin-left: -31.9vw;
}

.box img {
  position: absolute;
  width: 25%;
  margin-left: 1vw;
}
/*info about projects*/
.project-info {
  /* position: static;
  z-index: 2; */
  width: 46vw;
  min-height: 80%;
  margin: 0.5em auto 0.5em -30vw;
  display: block;
  /* background-color: yellow; */
}
.box img {
  position: relative;
  width: 35%;
  margin: 0 5.8vw;
}

.last-box > .project-info {
  position: inherit;
  /* background-color: blue; */
  margin: auto 0;
}

p:has(em) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.project-info em {
  font-weight: 100;
  background-color: rgb(11, 72, 87);
  color: #f9fffe;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
  border-radius: 25px;
  margin: 0.1rem;
}

/*remove bullet points*/
.project-info > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h3 {
  text-transform: capitalize;
  margin: 0;
}

.project-info a {
  font-weight: 600;
  width: fit-content;
  margin: 0.4em auto 0.2em -0.2em;
  padding: 0 0.2em;
  border: 2px solid transparent;
  border-radius: 5px;
  color: rgb(11, 72, 87);
  text-decoration: none;
  transition: ease-in 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: center;
}
.project-info a:hover {
  color: rgb(11, 72, 87);
  border: 2px solid rgb(11, 72, 87);
  border-radius: 5px;
}

/*section cv*/

/* section footer */

.footer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header-page5 {
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.h1-big5 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-transform: uppercase;
}

.page5 p {
  width: 100%;
  color: var(--bg-secondary-color);
}

.con , .tact {
  position: relative;
  z-index: 1;
  opacity: .3;
  padding: 0;
}

.con{
  letter-spacing: 8.9px;
  font-size: 130%;
  position: relative;
  z-index: 2;
  background-color: rgb(56, 180, 180);
  
  padding: 0 0 0 6.41px;
  margin: 37.5px -118.73px 0 0;
}

.tact{
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: orangered;
  color: black;
  margin-right: 100px;
}
.adress {
  text-align: center;
}
.email {
  color: var(--bg-secondary-color);
}
.email:hover {
  text-decoration: underline;
}

.SoMe-icon-wrapper {
  width: var(--content-width);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: 900;
  vertical-align: top;
  opacity: .5;
}
.facebook:hover, .linkedin:hover, .icon:hover {
  outline:none;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}

.github-icon:hover {
  opacity: 1;
}

.linkedin-icon , .facebook-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  color: var(--bg-primary-color);
  border-radius: 50%;
  text-decoration: none;
  
}
.facebook-icon {
  font-size: 56px;
}
.linkedin-icon {
  letter-spacing: -3px;
}


/* media queries */

@media only screen and (min-width: 320px) {
  .box iframe {
    height: 335%;
    width: 160%;
    transform: scale(0.3);
    margin-left: -53.9vw;
  }

  .box img {
    width: 40%;
    margin-left: 3vw;
  }
  .project-info {
    margin-left: -50vw;
    height: 90%;
  }
}
/*surface duo*/
@media only screen and (min-width: 480px) {

 
  /* body {
    font-size: 100%;
  }
  .photo-sprinkle2 {
    display: none;
  }
  .project-info p {
    font-size: 90%;
  }
  .box iframe {
    height: 334%;
    width: 160%;
    transform: scale(0.3);
    margin-left: -50.5vw;
  }
  .project-info {
    margin-left: 46vw;
  }
  .project-info p {
    width: 27ch;
  } */
}
/*pads*/
@media only screen and (min-width: 640px) {
  
  /* .cover-photo {
    width: 15%;
  }
  .cover-text {
    width: 45ch;
  }
  .project-info p {
    width: 30ch;
  }
  .box {
    width: 90vw;
  }
  .box iframe {
    height: 140%;
    transform: scale(0.6);
    margin-left: -0.5vw;
  }
  .project-info {
    margin-left: 46vw;
  }
  .box img {
    width: 25%;
    margin-left: 5vw;
  } */
}
/*ipad - breaking point*/
@media only screen and (min-width: 768px) {
  
  .photo-sprinkle2 {
    display: block;
  }
  .photo-sprinkle3 {
    height: 100%;
  }
  .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cover-photo {
    width: 18%;
    margin: auto 0 auto 10vw;
  }
  .cover-text {
    width: 45ch;
    margin-left: 5vw;
  }
  h1 {
    text-align: left;
  }
  .cta-btn {
    margin: 1.5em 0;
  }
  .grid-wrapper {
    width: 98%;
    margin: 0 auto;
  }
  .box {
    width: 44vw;
    margin: 2%;
  }
  .box iframe {
    height: 336%;
    transform: scale(0.3);
    margin-left: -25vw;
  }
  .project-info {
    width: 45%;
    margin-left: -23vw;
  }
  .box img {
    margin-left: 3vw;
    width: 35%;
  }
  .last-box .project-info {
    margin-left: -1.8vw;
  }
  .SoMe-icon-wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
/*ipad pro*/
/* @media only screen and (min-width: 1024px) {
  body {
    font-size: 110%;
  }
  .photo-sprinkle2 {
    display: block;
  }
  .photo-sprinkle3 {
    height: 100%;
  }
  .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cover-photo {
    width: 18%;
    margin: auto 0 auto 10vw;
  }
  .cover-text {
    width: 45ch;
    margin-left: 5vw;
  }
  h1 {
    text-align: left;
  }
  .grid-wrapper {
    width: 98%;
    margin: 0 auto;
  }
  .box {
    width: 44vw;
    margin: 2%;
  }
  .box iframe {
    height: 335%;
    width: 140%;
    transform: scale(0.3);
    margin-left: -21.6vw;
  }
  .box img {
    margin-left: 3vw;
    width: 30%;
  }
  .project-info {
    width: 40%;
    height: 80%;
    margin: auto auto auto 20vw;
    display: block;
    font-size: 95%;
  }
  .project-info p {
    font-size: 95%;
    width: 22ch;
  }
} */
/*old pc*/
@media only screen and (min-width: 1376px) {
  body {
    font-size: 110%;
  }
  .photo-sprinkle2 {
    display: block;
  }
  .photo-sprinkle3 {
    height: 100%;
  }
  .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cover-photo {
    width: 15%;
    margin: auto 0 auto 12vw;
  }
  .cover-text {
    width: 50ch;
    margin-left: 7vw;
  }
  h1 {
    text-align: left;
  }

  .grid-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .box {
    width: 32vw;
    margin: 2%;
  }
  .box iframe {
    height: 335%;
    width: 130%;
    margin-left: -14.6vw;
  }
  
  .project-info {
    width: 50%;
    margin-left: -12.8vw;
  }
  .box img {
    margin-left: 2vw;
    margin-right: 5.7vw;
    width: 26%;
  }
  .project-info p {
    width: 23ch;
  }
}
/*newer pads -some pcs*/
@media only screen and (min-width: 1540px) {
  body {
    font-size: 120%;
  }
  .cover-photo {
    width: 14%;
    margin: auto 0 auto 15vw;
  }
  .cover-text {
    margin-left: 4vw;
    width: 55ch;
  }
  
} 
/* pc */
@media only screen and (min-width: 1920px) {
  body {
    font-size: 125%;
  }
  .photo-sprinkle2 {
    display: block;
  }
  .photo-sprinkle3 {
    height: 100%;
  }
  .cover-text {
    width: 55ch;
    margin-left: 3vw;
  }
  .cover-photo {
    width: 13%;
    margin-left: 18vw;
  }
  .grid-wrapper {
    width: 98%;
  }
  
} 
